<a href [routerLink] = "['/home']"> Home </a>
<h3>Know of a pet needing a home? </h3>

<!-- -------------------------------FRONT END VALIDATION ERROR MESSAGES------------------------------------- -->
<!-- NAME VALIDATION -->
<!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
    <div *ngIf="name.errors.required">
        Name is required.
    </div>
    <div *ngIf="name.errors.minlength">
        Name must be at least 3 characters long.
    </div>
</div> -->

<!-- TYPE VALIDATION -->
<!-- <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">
    <div *ngIf="type.errors.required">
        Type is required.
    </div>
    <div *ngIf="type.errors.minlength">
        Type must be at least 3 characters long.
    </div>
</div> -->

<!-- DESCRIPTION VALIDATION -->
<!-- <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
    <div *ngIf="description.errors.required">
        Description is required.
    </div>
    <div *ngIf="description.errors.minlength">
        Description must be at least 3 characters long.
    </div>
</div> <br> -->

<!-- ------------------------------------------------------------------------------------------------------------ -->


Pet name: <input type="text" name= "name" required minlength="3" [(ngModel)] = "newPet.name" #name = "ngModel"/><br><br>
Pet type: <input type="text" name= "type" required minlength="3" [(ngModel)] = "newPet.type" #type = "ngModel"/><br><br>
Description: <input type="text" name= "description" required minlength="3" [(ngModel)] = "newPet.description" #description = "ngModel"/><br><br>

<!-- Error message -->
    <p *ngIf="validationError.name">{{validationError.name.message | json}}</p>
    <p *ngIf="validationError.description">{{validationError.description.message | json}}</p>
    <p *ngIf="validationError.type">{{validationError.type.message | json}}</p>

<p>Skills (Optional):</p>
Skill 1: <input type="text" name= "newPet.skill1" [(ngModel)] = "newPet.skill1"><br><br>
Skill 2: <input type="text" name= "newPet.skill2" [(ngModel)] = "newPet.skill2"><br><br>
Skill 3: <input type="text" name= "newPet.skill3" [(ngModel)] = "newPet.skill3"><br><br>

<input type="button" value="Add pet" (click) = "addPet()" > 

<!-- ----------------------------------FRONTEND VALIDATION DISABLING SUBMIT BUTTON IF (ERROR)------------------------------------------ -->
<!-- <input *ngIf="!(description.errors || type.errors || name.errors)" type="button" value="Add pet" (click) = "addPet()" > 
<input *ngIf="(description.errors || type.errors || name.errors)" type="button" value="Add pet" disabled = true> -->
<!-- ------------------------------------------------------------------------------------------------------------ -->

<button value="Cancel" [routerLink] = "['/home']">Cancel</button>



